<div class="container">
    <h1>To Do App</h1>
    <h2>Enter your task</h2>
    <form method="POST" action="/">
        <input type="text" name="task" id="task" required>
        <button type="submit" id="submit">Add Task</button>
    </form>
    <div id="tasks_container">
        <ul>
            {{#each items}}
            <li>{{task}}</li>
            {{/each}}
        </ul>
    </div>
</div>